In [3]:
import pandas as pd

path = "dbs/DataPreprocess.csv"
df1 = pd.read_csv(path)
df1

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [33]:
from sklearn.preprocessing import Imputer
import numpy as np

X = df1.values[:, :-1]
y = df1.values[:, -1]


imputer = Imputer(missing_values ='NaN', strategy ='mean', axis =0)
imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [18]:
from sklearn.model_selection import KFold
#cv= KFold(n_split=3, shuffle = True, random_state = 0)

In [28]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(X[:, 0])
new_x = le.transform(X[:,0])

X[:, 0] = new_x
X

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, nan],
       [0, 35.0, 58000.0],
       [2, nan, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

In [32]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categorical_features=[0])
x = ohe.fit_transform(X).toarray()
pd.DataFrame(x)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [34]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer, StandardScaler, LabelEncoder, OneHotEncoder


path = 'dbs/DataPreprocess.csv'
df1 = pd.read_csv(path)
df1

x = df1.values[: , : -1]
y = df1.values[:, -1]
# 미싱 데이터 처리
imputer = Imputer(missing_values='NaN', strategy="mean", axis=0) # NaN 데이터를 세로축 산술평균 
imputer.fit(x[:,1:3]) # 문자열 평균 못하니 제외 fit는 훈련만 실제적용은 transform
imputer.transform(x[:,1:3])
x[:,1:3] = imputer.transform(x[:,1:3])

# 피처 스케일링
sc_x = StandardScaler()
sc_x.fit(x[:,1:3])
x[:,1:3] = sc_x.transform(x[:,1:3])

# 원 핫 인코딩
# 컬럼을 구분을 해서 나누어 주는 역할을 함.
le = LabelEncoder()
le.fit(x[:, 0]) # 0번 나라 컬럼 fit
x[:, 0] = le.transform(x[:, 0])

ohe = OneHotEncoder(categorical_features=[0])
# 카테고리: 지금 numpy데이터 몇번째 컬럼 바꿀건지 세팅을 미리해줘야 한다.
x = ohe.fit_transform(x).toarray() # x를 통째로 넘기고 넘파이어레이로 한다.

pd.DataFrame(x, columns=['France','Germany','Spain','Age','Salary'])

/Users/siyeon/.pyenv/versions/3.7.2/envs/py-mach/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/siyeon/.pyenv/versions/3.7.2/envs/py-mach/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/siyeon/.pyenv/versions/3.7.2/envs/py-mach/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

   France  Germany  Spain       Age        Salary
0     1.0      0.0    0.0  0.758874  7.494733e-01
1     0.0      0.0    1.0 -1.711504 -1.438178e+00
2     0.0      1.0    0.0 -1.275555 -8.912655e-01
3     0.0      0.0    1.0 -0.113024 -2.532004e-01
4     0.0      1.0    0.0  0.177609  6.632192e-16
5     1.0      0.0    0.0 -0.548973 -5.266569e-01
6     0.0      0.0    1.0  0.000000 -1.073570e+00
7     1.0      0.0    0.0  1.340140  1.387538e+00
8     0.0      1.0    0.0  1.630773  1.752147e+00
9     1.0      0.0    0.0 -0.258340  2.937125e-01